.popup__flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.popup__flag img {
  width: 100px;
  border-radius: 5px;
}

.popup__country {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.popup__container {
  width: 150px;
}

.popup__cases,
.popup__recovered,
.popup__deaths {
  font-size: 16px;
  margin-top: 5px;
}
