*{
  margin: 0;
}
body{
  background-color: rgb(230, 230, 230);
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__left{
  flex: 0.9;
}

.app__right h3{
  padding: 8px 0px;
}

.app__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.app__stats{
  display: flex;
  justify-content: space-between;
}

@media (max-width:990px){
  .app{
    flex-direction: column;
  }
}