*{
  margin: 0;
}
body{
  background-image: linear-gradient(to bottom right, rgb(238, 255, 0), rgb(255, 0, 0));
}
/* https://cdn.wallpapersafari.com/26/88/C4hA3p.jpg */
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.app__dropdown {
  background-color: white;
}

.app__left{
  flex: 0.9;
}

.app__right h3{
  padding: 8px 0px;
}

.app__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.app__header h1{
  color:rgb(255, 0, 0);
}

.app__stats{
  display: flex;
  justify-content: space-between;
}

@media (max-width:990px){
  .app{
    flex-direction: column;
  }
}